<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Akka" version="1.0.6" targetFramework="net452" />
  <package id="Akka.Logger.NLog" version="1.0.5" targetFramework="net452" />
  <package id="Akka.Logger.slf4net" version="1.0.5" targetFramework="net452" />
  <package id="Akka.Remote" version="1.0.5" targetFramework="net452" />
  <package id="Google.ProtocolBuffers" version="2.4.1.521" targetFramework="net452" />
  <package id="Helios" version="1.4.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="NLog" version="3.0.0.0" targetFramework="net452" />
  <package id="RabbitMQ.Client" version="3.6.0" targetFramework="net452" />
  <package id="slf4net" version="0.1.32.1" targetFramework="net452" />
  <package id="Unofficial.Cef" version="3.2272.2035" targetFramework="net452" />
  <package id="Unofficial.CefGlue.Core" version="3.2272.2035" targetFramework="net452" />
  <package id="Unofficial.CefGlue.WindowsForm" version="3.2272.2035" targetFramework="net452" />
</packages>