<?xml version="1.0" encoding="utf-8"?>
<!-- 
This template was written to work with NHibernate.Test.
Copy the template to your NHibernate.Test project folder and rename it in hibernate.cfg.xml and change it 
for your own use before compile tests in VisualStudio.
-->
<hibernate-configuration  xmlns="urn:nhibernate-configuration-2.2" >
	<session-factory name="StockTrader">
		<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
		<property name="connection.driver_class">NHibernate.Driver.SQLite20Driver</property>
		<property name="connection.connection_string">Data Source=stock.db3;Version=3;</property>
		<property name="dialect">NHibernate.Dialect.SQLiteDialect</property>
		<property name="query.substitutions">true=1;false=0</property>
		<property name="show_sql">true</property>
    <mapping file="EStrategy.hbm.xml" />
    <mapping file="ETrader.hbm.xml" />
    <mapping file="ECube.hbm.xml" />
    <mapping file="EStockHolder.hbm.xml" />
  </session-factory>
</hibernate-configuration>